/*#region Fonts */
@font-face {
  font-family: cuprumRegular;
  src: url("../fonts/Cuprum-Regular.ttf");
}

@font-face {
  font-family: cuprumBold;
  src: url("../fonts/Cuprum-Bold.ttf");
}

body {
  font-family: cuprumRegular;
}

.title {
  color: #d15641;
  font-size: 1.5rem;
}

a {
  color: #a0a0a0;
  font-size: 0.9rem;
  text-decoration: none;
}

a.current {
  color: #d15641;
}
/*#endregion */

/*#region Jumbotron */
.home-jumbotron {
  color: white;
  font-family: cuprumRegular;
  background-size: cover;
  height: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-jumbotron {
  color: white;
  font-family: cuprumRegular;
  min-height: 350px;
  padding: 2rem;
}

.text-shadow {
  text-shadow: 2px 2px #837a7a;
}
/*#endregion */

/*#region Colors */
.color-orange {
  color: #d15641;
}

.color-lightgrey {
  color: #efefef;
}

.color-grey {
  color: #dedede;
}

.color-darkgrey {
  color: #a0a0a0;
}
/*#endregion */

/*#region Buttons */
.btn-default {
  background-color: white;
  color: #d15641;
  border-color: #d15641;
}

.btn-default:hover {
  background-color: #d15641;
  color: white;
}

.btn-disabled {
  background-color: #a0a0a0;
  color: white;
  border-color: #a0a0a0;
}
/*#endregion */

/*#region Search */
.search-container {
  position: relative;
}

.search-container > img {
  position: absolute;
  top: 10px;
  right: 20px;
}
/*#endregion */

/*#region xxx */
/*#endregion */

/*#region xxx */
/*#endregion */

/*#region xxx */
/*#endregion */

/*#region Course Status */
/* Class for Course Completed */
.courseStatus1 {
  color: green;
}

/* Class for Pre-requisite Not Met*/
.courseStatus2 {
  color: red;
  text-decoration: underline;
}

/*#endregion */

/*#region Timeline */
.timelineWrapper ul,
.timelineWrapper li {
  list-style: none;
  padding: 0;
}

.timelineWrapper {
  border: 1px solid #dedede;
  padding: 1.5rem;
  border-radius: 10px;
  font-family: cuprumBold;
}

.timelineWrapper h1 {
  font-size: 1rem;
  margin: 0rem;
}

.timelineWrapper p {
  color: #4f4f4f;
  line-height: 1.5;
}

.timelineWrapper .sessions {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

.timelineWrapper li {
  padding-bottom: 1.5rem;
  border-left: 1px dashed #abaaed;
  position: relative;
  padding-left: 30px;
  margin-left: 20px;
}
.timelineWrapper li:last-child {
  border: 0px;
  padding-bottom: 0;
}
.timelineWrapper li:before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/doc.svg");
  position: absolute;
  left: -10px;
  top: 0px;
}

.timelineWrapper li.select:before {
  background: url("../images/minus.svg");
}

.timelineWrapper li:focus {
  color:red
}

/*#endregion */

.border-orange {
  border-color: #d15641;
}

.card {
  border-radius: 10px;
}

.registrationText {
  color: #d15641;
  font-style: italic;
}

.accordion-button {
  background-color:#dd7d6d;
  color: white;
  font-size: 1.5rem;
}

.accordion-button:not(.collapsed) {
  background-color: #d15641;
  color: white;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.quizTable {
  color: #a0a0a0;
}

.quizTable th {
    border-bottom: 1px #a0a0a0 solid;
}