<!doctype html>
<html lang="en">

<head>
    <title>Home | LMS</title>
</head>

<body>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/stylesheet.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <div id="nav-placeholder"></div>
    <div class="container-fluid p-0">
        <div class="jumbotron jumbotron-fluid home-jumbotron text-shadow" style="background-image:url(images/cover.jpg)">
            <h1 class="display-4">STAY AHEAD OF THE GAME<br>UPSKILL YOURSELF TODAY</h1>
        </div>
    </div>
    <div class="container">
        <div class="row m-3">
            <h2>All Courses</h2>
        </div>
        <div id="course" class="row">
            <course-list v-for="course in courses" v-bind:course="course" v-bind:key="course.courseID"></course-list>
        </div>
    </div>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
        $.get("includes/navbar.html", function(data){
            $("#nav-placeholder").replaceWith(data);
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var studentID = localStorage.getItem("userID");
        
        // Initialise URLs
        var getCoursesURL = "http://13.212.254.218:2222/courses"
        var getPrereqsURL = "http://13.212.254.218:2222/prereqs"
        var getStudentCompletedUrl = "http://13.212.254.218:2222/completed/" + studentID

        // Get Course Details
        var course = new Vue({
            el: '#course',
            data: {
                completedCourses: [],
                courses: []
            },
            created: function() {
                // Get Student's Completed Courses
                fetch(getStudentCompletedUrl)
                    .then(response => response.json())
                    .then(data => {
                        result = data.data.courses;
                        for (record of result) {
                            this.completedCourses.push(record.completedCName)
                        }
                    })

                // Get Courses
                fetch(getCoursesURL)
                    .then(response => response.json())
                    .then(data => {
                        result = data.data.courses;
                        for (record of result) {
                            courseID = record.courseID
                            record.prereqsNotMet = []

                            record.status = false
                            if (this.completedCourses.includes(record.courseName)) {
                                record.status = true;
                            }
                            this.courses.push(record);

                            /* If Course is not Completed and Course have prerequisites,
                                Get Course Prerequisites */
                            if (!record.status && record.have) {
                                fetch(getPrereqsURL + `/${courseID}`)
                                    .then(response => response.json())
                                    .then(data => {
                                        result = data.data.courses;
                                        for (record of result) {
                                            
                                            if (!this.completedCourses.includes(record.prereqName)) {
                                                this.courses[record.prereqCourseID].prereqsNotMet.push(record.prereqName)
                                            }
                                        }
                                    })
                            }
                        }
                    })
            }
        })

        Vue.component('course-list', {
            props: ['course'],
            template: `
            <div class="col-lg-4 col-md-6 col-sm-12 py-1 my-1">
                <div class="card shadow h-100">
                    <img class="card-img-top" src="images/sample.png">
                    <div class="card-body">
                        <h5 class="card-title color-orange">{{ course.courseName }}</h5>
                        <div v-if="course.status">
                            <p class="card-text courseStatus1">Course Completed</p>
                        </div>
                        <div v-else>
                            <div v-if="course.prereqsNotMet.length != 0">
                                <p class="card-text courseStatus2 mb-0">Pre-requisites NOT met:</p>
                                <p v-for="prereqCourse in course.prereqsNotMet" class="card-text courseStatus2 m-0">{{ prereqCourse }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" @click="selectCourse($event, course.courseID)" class="btn btn-default btn-md active" role="button" aria-pressed="true">View Course</a>
                    </div>
                </div>
            </div>
            `,
            methods: {
                selectCourse: function(e, courseID) {
                    e.preventDefault();
                    localStorage.setItem("chosenCourse", courseID);
                    window.location.replace("course.html");
                }
            }
        })
    </script>
</body>

</html>