<!doctype html>
<html lang="en">

<head>
    <title>Trainer Class | LMS</title>
</head>

<body><!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/stylesheet.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <div id="nav-placeholder"></div>
    <div class="container" id="quizResults">
        <div class="row">
            <p class="title">Chapter {{ sectionID }} Quiz Results - {{ course[0].courseName }}</p>
        </div>
        <div v-if="quizResults.length != 0">
            <div class="row">
                <input v-on:keyup="searchQuiz" v-model="quizInput" class="form-control" type="text" placeholder="Search..." aria-label="Name" />
            </div>
            <div class="row mt-3">
                <table class="table table-borderless table-sm quizTable">
                    <thead>
                        <tr>
                            <th style="width:55%">Name</th>
                            <th style="width:15%">Marks</th>
                            <th style="width:15%">Grade</th>
                            <th style="width:15%">No. of Attempts</th>
                        </tr>
                    </thead>
                    <tbody v-for="quizSearchResult in quizSearchResults">
                        <tr>
                            <td>{{ quizSearchResult.studentName }}</td>
                            <td>{{ quizSearchResult.score }}/{{ quizSearchResult.totalScore }}</td>
                            <td v-if="quizSearchResult.status == 'Pass'"><p style="color:green;">{{ quizSearchResult.status }}</p></td>
                            <td v-else><p style="color:red;">{{ quizSearchResult.status }}</p></td>
                            <td>{{ quizSearchResult.noAttempts }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-else>
            <div class="row">
                <input v-on:keyup="searchQuiz" v-model="quizInput" class="form-control" type="text" placeholder="Search..." aria-label="Name" disabled/>
            </div>
            <div class="text-center p-3">
                There is no results for this quiz!
            </div>
        </div>
        <div class="float-end">
            <a href="trainerClass.html" class="btn btn-default btn-md active" role="button" aria-pressed="true">Back</a>
        </div>
    </div>
</div>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
        $.get("includes/navbar.html", function(data){
            $("#nav-placeholder").replaceWith(data);
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var courseID = localStorage.getItem("trainerCourse");
        var classID = localStorage.getItem("trainerClass");
        var sectionID = localStorage.getItem("trainerSection");

        // Initialise URLs
        var getCoursesURL = "http://13.212.254.218:2222/courses/" + courseID
        var getScoresURL = "http://13.212.254.218:2222/getScores/" + courseID + "/" + classID + "/" + sectionID

        var quizResults = new Vue({
            el: '#quizResults',
            data: {
                course: [],
                quizResults: [],
                quizInput: "",
                quizSearchResults: [],
                sectionID: sectionID
            },
            created: function() {
                //Get Courses
                fetch(getCoursesURL)
                    .then(response => response.json())
                    .then(data => {
                        this.course.push(data.data.course);
                    })

                //Get Scores
                fetch(getScoresURL)
                    .then(response => response.json())
                    .then(data => {
                        result = data.data

                        for (record of result) {
                            this.quizResults.push(record)
                        }
                    })
                this.quizSearchResults = this.quizResults
            },
            methods: {
                searchQuiz: function() {
                    this.quizSearchResults = [];
                    if (this.quizInput == "") {
                        this.quizSearchResults = this.quizResults
                        return
                    } else {
                        for (quizResult of this.quizResults) {
                            if (quizResult.studentName.toLowerCase().includes(this.quizInput)) {
                                this.quizSearchResults.push(quizResult)
                            }
                        }
                    }
                },
            }
        })
    </script>
</body>

</html>