<!doctype html>
<html lang="en">

<head>
    <title>Student Class | Take quiz</title>
</head>

<body>
    <div id="nav-placeholder"></div>
    <div id="header-placeholder"></div>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    $.get("includes/navbar.html", function(data){
        $("#nav-placeholder").replaceWith(data);
     });
    $.get("includes/header.html", function(data){
        $("#header-placeholder").replaceWith(data);
     });
     </script>
    <div class="container" id="trainerClass">
        <nav class="mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#" class="current">My Classes</a></li>
                <li class="breadcrumb-item"><a href="#" class="current">Quiz 3</a></li>
            </ol>
        </nav>
        <div class="row">
            <div class="col">
                <p class="title">Quiz 3 Chapter 3 Printing Software</p>
            </div>
        </div>
        <div class="row mt-5" id="quizQuestions">
            <div class="col-12" style="margin-bottom: 1cm;" v-for="(quizQuestion, quizIdx) in quizQuestions">
                <div v-if = 'quizQuestion.isMultiple === false'>
                <div class="p-3" style="border: 1px solid #dedede; border-radius: 10px; margin-bottom: 1cm;">
                    <p style="font-size:1.5em;">{{ quizQuestion.question }}</p>
                    <hr>
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr>
                                <th style="width:7.5%"></th>
                                <th style="width:7.5%"></th>
                                <th style="width:77.5%"></th>
                                <th style="width:7.5%"></th>
                            </tr>
                        </thead>
                            <form>
                                <div v-for="(option, optionIdx) in quizQuestion.options">
                                        <input type="radio" v-bind:name = 'quizQuestion.question' v-bind:value="option.isCorrect">
                                        <label>{{option.text}}</label>
                                </div>
                            </form>
                            </div>
                    </table>
                </div>
            <div class="col-12" style="margin-bottom: 1cm;" v-for="(quizQuestion, quizIdx) in quizQuestions" style="margin-bottom: 50cm;">
                <div v-if = 'quizQuestion.isMultiple === true'>
                    <div class="p-3" style="border: 1px solid #dedede; border-radius: 10px; margin-bottom: 1cm;">
                    <p style="font-size:1.5em;">{{ quizQuestion.question }}</p>
                    <hr>
                        <table class="table table-borderless table-sm">
                            <thead>
                                <tr>
                                    <th style="width:7.5%"></th>
                                    <th style="width:7.5%"></th>
                                    <th style="width:77.5%"></th>
                                    <th style="width:7.5%"></th>
                                </tr>
                            </thead>
                                <form>
                                    <div v-for="(option, optionIdx) in quizQuestion.options">
                                        <input type="checkbox"  v-bind:name = 'quizQuestion.question' v-bind:value="option.isCorrect">
                                        <label >{{option.text}}</label>
                                </div>
                                </form>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        <br>
       
                    </table>
            </div>
            <input type="submit" style="margin-top: 1cm; margin-left: 28cm; background-color: rgb(252, 140, 3); border-radius: 5px;" value="Submit">
            </div>
    <!-- Div below is the end of the column -->
    </div>
    </div>
    </div>
    <div id="footer-placeholder"></div>
    <script>
    $.get("includes/footer.html", function(data){
        $("#footer-placeholder").replaceWith(data);
     });
    var courseID = 1
    var classID = 3
    var sectionID = "Chapter2"
    var getQuizURL = "http://localhost:2222/questions/" + courseID + "/" + classID + "/" + sectionID


    // Trying to do vue 
    const example1 = new Vue({
    el: '#quizQuestions',
    data: {
        quizQuestions: [],
        options : [],
        isMultiple: []
    },
    created:function() {
        fetch(getQuizURL)
        .then(response=>response.json())
        .then(data=>{
            // result = data.data 

            //simulating with dummy data
            result = [
                {
                    "answer": "12 minutes,24 minutes",
                    "ismultiple": "true",
                    "choices": "12 minutes,24 minutes,36 minutes",
                    "question": "What is the average time required for a standard 3D printing to print a 12cm by 12cm by 12cm cube?"
                },
                {
                    "answer": "True",
                    "ismultiple": "false",
                    "choices": "True,False",
                    "question": "The battery compartment is the most fragile part of the 3D printer."
                }]
            for (record of result) {
                quizData = {}
                quizData.question = record.question
                quizData.isMultiple = record.ismultiple == "true" ? true : false
                quizData.options = []
                choices = record.choices.split(",")
                answer = record.answer.split(",")
                for (choice of choices) {
                    option = {}
                    option.text = choice
                    if (answer.includes(choice)) {
                        option.isCorrect = true
                    } else {
                        option.isCorrect = false
                    }
                    quizData.options.push(option)
                }
                this.quizQuestions.push(quizData)
                }
            console.log(quizQuestions)
        })
    }

})
    
    </script>
    <script>
        /* FOR YINGHUI
        Need you to get me the data in the following format. You can take a look at Figma and see if you understand what I mean
        
        each -> will be one url call

        For Select Course dropdown:
        - Based on Trainer ID
          -> get CourseID, Course Name and Class ID (i.e. Class Number)

        - Based on Selected Course ID
          -> get Section Name (and Order?)
        
        - Based on Selected Section:
          -> get docType ("doc", "video", "link"), materialName?, isCompleted

        -> Function to add Section for selected Course
        -> Function to add material for selected Section of selected Course
        
        - Based on Selected Section
          -> get quiz name


        */
        // // Initialise URLs
        // var getClassesURL = "http://localhost:2222/classes/1/2"

        // // Get Class by Trainer
        // var trainerClass = new Vue({
        //     el: '#trainerClass',
        //     data: {
        //         classes: []
        //     },
        //     created: function() {
        //         // Get Courses
        //         fetch(getClassesURL)
        //             .then(response => response.json())
        //             .then(data => {
        //                 print(data)
        //                 // result = data.data.classes;

        //                 // for (record of result) {
        //                 //     this.classes.push(record);
        //                 // }
        //             })
        //     }
        // })
    </script>
</body>

</html>