<!doctype html>
<html lang="en">

<head>
    <title>Trainer Class | LMS</title>
</head>

<body>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/stylesheet.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <div id="nav-placeholder"></div>
    <div class="container" id="trainerClass">
        <nav class="mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol v-if="sectionItems.length == 0" class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#" class="current">My Classes</a></li>
            </ol>
            <ol v-else class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">My Classes</a></li>
                <li class="breadcrumb-item"><a href="#" class="current">Class Materials</a></li>
            </ol>
        </nav>
        <div class="row">
            <div class="col">
                <p class="title">My Classes</p>
            </div>
        </div>
        <div class="row">
            <select class="form-select" id="courseClassDropdown" @change="selectCourseClass">
                <option selected>Select course...</option>
                <option v-for="courseClassItem in courseClass" v-bind:value="[courseClassItem.courseID,courseClassItem.classID]">{{ courseClassItem.courseName }} [Class {{ courseClassItem.classID }}]</option>
            </select>
        </div>
        <div class="row mt-5">
            <div v-if="sectionItems.length != 0" class="col-4">
                <div class="timelineWrapper">
                    <h1 class="color-darkgrey">Courses</h1>
                    <h1>{{ selectedItemDetails.courseName }}</h1>
                    <ul class="sessions">
                        <section-item v-for="sectionitem in sectionItems" v-bind:sectionitem="sectionitem" v-bind:key="sectionitem.sectionID"></section-item>
                        <li class="select" @click="addSection()">
                            <div class="color-darkgrey" style="text-decoration: underline;">Add new chapter</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-if="sectionMaterials.length != 0 && !noMaterial" class="col-8">
                <div class="p-3" style="border: 1px solid #dedede; border-radius: 10px;">
                    <p style="font-size:1.5em;">Course Materials</p>
                    <hr>
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr>
                                <th style="width:7.5%"></th>
                                <th style="width:7.5%"></th>
                                <th style="width:77.5%"></th>
                                <th style="width:7.5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="sectionMaterial in sectionMaterials">
                                <td @click="deleteMaterial(sectionMaterial.contentID)" class="text-center"><img src="images/minus.svg" style="width:15px;height:15px;"></td>
                                <td v-if="sectionMaterial.doctype == 'doc'" class="text-center"><img src="images/doc.svg" style="width:15px;height:15px;"></td>
                                <td v-else-if="sectionMaterial.doctype == 'vid'" class="text-center"><img src="images/video.svg" style="width:15px;height:15px;"></td>
                                <td v-else-if="sectionMaterial.doctype == 'ppt'" class="text-center"><img src="images/ppt.svg" style="width:15px;height:15px;"></td>
                                <td v-else class="text-center"><img src="images/link.svg" style="width:15px;height:15px;"></td>
                                <td>{{ sectionMaterial.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr>
                                <th style="width:7.5%"></th>
                                <th style="width:92.5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <div v-if="isUpload" class="form-group row">
                                <div class="col-10">
                                    <div class="input-group mb-3">
                                        <select v-model="newMaterial.docType" class="form-select">
                                            <option selected>Document Type...</option>
                                            <option value="link">Link</option>
                                            <option value="vid">Video</option>
                                            <option value="doc">Document</option>
                                            <option value="ppt">Powerpoint</option>
                                        </select>
                                        <input v-model="newMaterial.contentName" class="form-control" type="text" placeholder="Material Name">
                                        <input v-model="newMaterial.link" class="form-control" type="text" placeholder="URL Link">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <a @click="uploadMaterial()" class="btn btn-default btn-md active" role="button" aria-pressed="true">Upload</a>
                                </div>
                            </div>
                            <tr>
                                <td @click="addMaterial()" class="text-center"><img src="images/plus.svg" style="width:15px;height:15px;"></td>
                                <td class="color-darkgrey" style="text-decoration: underline;">Upload new file</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="p-3 mt-4" style="border: 1px solid #dedede; border-radius: 10px;">
                    <p style="font-size:1.5em;">Quiz</p>
                    <hr>
                    <div class="d-flex bd-highlight">
                        <div class="me-auto p-2 bd-highlight" style="font-size: 1.3em;">{{ selectedItemDetails.courseName }} Quiz</div>
                        <div class="p-2 bd-highlight"><a @click="viewResult($event, selectedItemDetails.courseID, selectedItemDetails.classID, selectedItemDetails.sectionID)" class="btn btn-default btn-md active" role="button" aria-pressed="true">View Results</a></div>
                        <div class="p-2 bd-highlight"><a @click="editQuiz($event, selectedItemDetails.courseID, selectedItemDetails.classID, selectedItemDetails.sectionID)" class="btn btn-default btn-md active" role="button" aria-pressed="true">Edit</a></div>
                    </div>
                </div>
            </div>
            <div v-else-if="sectionMaterials.length == 0 && noMaterial" class="col-8">
                <div class="p-3" style="border: 1px solid #dedede; border-radius: 10px;">
                    <p style="font-size:1.5em;">Course Materials</p>
                    <hr>
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr>
                                <th style="width:7.5%"></th>
                                <th style="width:7.5%"></th>
                                <th style="width:77.5%"></th>
                                <th style="width:7.5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                No material found!
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr>
                                <th style="width:7.5%"></th>
                                <th style="width:92.5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td @click="addMaterial()" class="text-center"><img src="images/plus.svg" style="width:15px;height:15px;"></td>
                                <td class="color-darkgrey" style="text-decoration: underline;">Upload new file</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="p-3 mt-4" style="border: 1px solid #dedede; border-radius: 10px;">
                    <p style="font-size:1.5em;">Quiz</p>
                    <hr>
                    <div class="d-flex bd-highlight">
                        <div class="me-auto p-2 bd-highlight" style="font-size: 1.3em;">{{ selectedItemDetails.courseName }} Quiz</div>
                        <div class="p-2 bd-highlight"><a @click="viewResult($event, selectedItemDetails.courseID, selectedItemDetails.classID, selectedItemDetails.sectionID)" class="btn btn-default btn-md active" role="button" aria-pressed="true">View Results</a></div>
                        <div class="p-2 bd-highlight"><a @click="editQuiz($event, selectedItemDetails.courseID, selectedItemDetails.classID, selectedItemDetails.sectionID)" class="btn btn-default btn-md active" role="button" aria-pressed="true">Edit</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
        $.get("includes/navbar.html", function(data){
            $("#nav-placeholder").replaceWith(data);
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var trainerName = localStorage.getItem("trainerName");

        // Initialise URLs
        var getTrainerURL = "http://localhost:2222/getClassByTrainer/" + trainerName
        var getCourseSectionsURL = "http://localhost:2222/getSections/"
        var getCourseSectionMaterialsURL = "http://localhost:2222/getContent/"
        var saveContentURL = "http://localhost:2222/createContent"

        // Get Class by Trainer
        var trainerClass = new Vue({
            el: '#trainerClass',
            data: {
                courseClass: [],
                sectionItems: [],
                sectionMaterials: [],
                selectedItemDetails: {
                    "courseID": 0,
                    "classID": 0,
                    "sectionID": 0,
                    "courseName": ""
                },
                noMaterial: false,
                isUpload: false,
                newMaterial: {}
            },
            created: function() {
                fetch(getTrainerURL)
                    .then(response => response.json())
                    .then(data => {
                        // Get Trainer
                        result = data.data;

                        for (record of result) {
                            this.courseClass.push(record);
                        }
                    })
            },
            methods: {
                selectCourseClass: function() {
                    this.sectionItems = []
                    this.sectionMaterials = []

                    var courseClassElement = document.getElementById("courseClassDropdown")

                    // If user selects "Select course..." i.e. nothing
                    if (courseClassElement.value == "Select course...") {
                        return
                    }

                    // Get Selected Course's CourseID and ClassID
                    [this.selectedItemDetails.courseID, this.selectedItemDetails.classID] = courseClassElement.value.split(",")
                    var courseClassElementText = courseClassElement.options[courseClassElement.selectedIndex].text
                    this.selectedItemDetails.courseName = courseClassElementText.split(" [")[0]
                    
                    fetch(getCourseSectionsURL + this.selectedItemDetails.courseID + "/" + this.selectedItemDetails.classID)
                        .then(response => response.json())
                        .then(data => {
                            // Get Course' Sections
                            result = data.data;

                            for (record of result) {
                                this.sectionItems.push(record);
                            }
                        })
                },
                downloadMaterial: function(materialID) {
                    console.log("Download Material Function! Not Implemented Yet")
                },
                addSection: function() {
                    console.log("Add Section Function! Not Implemented Yet")
                },
                addMaterial: function() {
                    this.isUpload = true
                },
                uploadMaterial: function() {
                    if (this.newMaterial.contentName == null || this.newMaterial.docType == null || this.newMaterial.link == null || this.newMaterial.contentName.length == 0 || this.newMaterial.docType.length == 0 || this.newMaterial.link.length == 0) {
                        alert("Please ensure all fields are filled out!")
                        return
                    }

                    saveArray = []
                    saveData = {}
                    saveData.courseID = this.selectedItemDetails.courseID
                    saveData.classID = this.selectedItemDetails.classID
                    saveData.sectionID = this.selectedItemDetails.sectionID
                    saveData.contentID = this.newMaterial.contentID
                    saveData.contentName = this.newMaterial.contentName
                    saveData.doctype = this.newMaterial.docType
                    saveData.link = this.newMaterial.link

                    saveArray.push(saveData)

                    var submitData = {}
                    submitData["data"] = saveArray
                    let jsonData = JSON.stringify(submitData);
                        fetch(saveContentURL, {
                                method: "POST",
                                headers: {
                                    "Content-type": "application/json"
                                },
                                body: jsonData
                            })
                            .then(response => response.json())
                            .then(data => {
                            })
                    alert("Content saved successfully!")
                    this.isUpload = false

                    this.newMaterial.contentName = ""
                    this.newMaterial.docType = ""
                    this.newMaterial.link = ""

                    // Refetch
                    this.sectionMaterials = []
                    fetch(getCourseSectionMaterialsURL + this.selectedItemDetails.courseID + "/" + this.selectedItemDetails.classID + "/" + this.selectedItemDetails.sectionID)
                        .then(response => response.json())
                        .then(data => {
                            if (data.data.length == 0) {
                                this.noMaterial = true
                            } else {
                                // Get Course Section's Materials
                                result = data.data;

                                for (record of result) {
                                    this.sectionMaterials.push(record);
                                }

                                // Get Last Section Content ID, for uploading of Material
                                newMaterialID = parseInt(result[result.length - 1].contentID) + 1
                                this.newMaterial.contentID = newMaterialID.toString()
                            }
                        })
                },
                deleteMaterial: function(materialID) {
                    console.log("Delete Material Function! Not Implemented Yet")
                },
                viewResult: function(e, courseID, classID, sectionID) {
                    e.preventDefault();
                    localStorage.setItem("trainerCourse", courseID);
                    localStorage.setItem("trainerClass", classID);
                    localStorage.setItem("trainerSection", sectionID);
                    window.location.replace("quizResults.html");
                },
                editQuiz: function(e, courseID, classID, sectionID) {
                    e.preventDefault();
                    localStorage.setItem("trainerCourse", courseID);
                    localStorage.setItem("trainerClass", classID);
                    localStorage.setItem("trainerSection", sectionID);
                    window.location.replace("trainerQuiz.html");
                }
            }
        })

        Vue.component('section-item', {
            props: ['sectionitem'],
            template: `
            <li @click="deleteSection($event, sectionitem.sectionID)">
                <div @click="selectSection(sectionitem.sectionID)">
                    <div class="color-darkgrey">Chapter {{ sectionitem.sectionID }}</div>
                    <p>{{ sectionitem.sectionName }}</p>
                </div>
            </li>
            `,
            methods: {
                selectSection: function(sectionID) {
                    trainerClass.selectedItemDetails.sectionID = sectionID
                    trainerClass.sectionMaterials = []
                    trainerClass.noMaterial = false
                    
                    fetch(getCourseSectionMaterialsURL + trainerClass.selectedItemDetails.courseID + "/" + trainerClass.selectedItemDetails.classID + "/" + trainerClass.selectedItemDetails.sectionID)
                        .then(response => response.json())
                        .then(data => {
                            if (data.data.length == 0) {
                                trainerClass.noMaterial = true
                            } else {
                                // Get Course Section's Materials
                                result = data.data;

                                for (record of result) {
                                    trainerClass.sectionMaterials.push(record);
                                }

                                // Get Last Section Content ID, for uploading of Material
                                newMaterialID = parseInt(result[result.length - 1].contentID) + 1
                                trainerClass.newMaterial.contentID = newMaterialID.toString()
                            }
                        })
                },
                deleteSection: function(event, sectionID) {
                    if (event.target.tagName != "LI") {
                        return
                    } else {
                        console.log("Delete Section Function! Not Implemented Yet")
                    }
                }
            }
        })
    </script>
</body>

</html>